In [1]:
import pandas as pd
import numpy as np
import warnings
warnings. filterwarnings('ignore')

#### Loading the Data

In [3]:
df=pd.read_csv('flight_price.csv')
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

### FEATURES
The various features of the cleaned dataset are explained below:
1) Airline: The name of the airline company is stored in the airline column. It is a categorical feature having 6 different airlines.
2) Flight: Flight stores information regarding the plane's flight code. It is a categorical feature.
3) Source City: City from which the flight takes off. It is a categorical feature having 6 unique cities.
4) Departure Time: This is a derived categorical feature obtained created by grouping time periods into bins. It stores information about the departure time and have 6 unique time labels.
5) Stops: A categorical feature with 3 distinct values that stores the number of stops between the source and destination cities.
6) Arrival Time: This is a derived categorical feature created by grouping time intervals into bins. It has six distinct time labels and keeps information about the arrival time.
7) Destination City: City where the flight will land. It is a categorical feature having 6 unique cities.
8) Class: A categorical feature that contains information on seat class; it has two distinct values: Business and Economy.
9) Duration: A continuous feature that displays the overall amount of time it takes to travel between cities in hours.
10)Days Left: This is a derived characteristic that is calculated by subtracting the trip date by the booking date.
11) Price: Target variable stores information of the ticket price.

Column Breakdown:

Airline – Name of the airline (e.g., IndiGo, Air India, Jet Airways)

Date_of_Journey – The flight's departure date

Source – Flight departure location

Destination – Flight arrival location

Route – Flight path (e.g., BLR → DEL)

Dep_Time – Flight departure time

Arrival_Time – Flight arrival time

Duration – Total travel duration (e.g., "2h 50m")

Total_Stops – Number of stops (e.g., "non-stop", "1 stop", "2 stops")

Additional_Info – Extra details (e.g., "No info")

Price – Flight ticket price (numeric)

In [7]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [8]:
df.shape

(10683, 11)

### Data Cleaning

#### Handling Missing Values

In [11]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [12]:
df['Route'].fillna(df['Route'].mode()[0],inplace=True)
df['Total_Stops'].fillna(df['Total_Stops'].mode()[0],inplace=True)

In [13]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

#### Handling duplicate Values

In [15]:
df.duplicated().sum()

220

In [16]:
df=df.drop_duplicates()

In [17]:
df.shape

(10463, 11)

### Feature Engineering

In [19]:
df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'])

In [20]:
df['Journey_Day']=df['Date_of_Journey'].dt.day
df['Journey_Month']=df['Date_of_Journey'].dt.month
df['Journey_Year']=df['Date_of_Journey'].dt.year

In [21]:
df['Journey_Day']=df['Journey_Day'].astype(int)
df['Journey_Month']=df['Journey_Month'].astype(int)
df['Journey_Year']=df['Journey_Year'].astype(int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10463 non-null  object
 1   Date_of_Journey  10463 non-null  datetime64[ns]
 2   Source           10463 non-null  object
 3   Destination      10463 non-null  object
 4   Route            10463 non-null  object
 5   Dep_Time         10463 non-null  object
 6   Arrival_Time     10463 non-null  object
 7   Duration         10463 non-null  object
 8   Total_Stops      10463 non-null  object
 9   Additional_Info  10463 non-null  object
 10  Price            10463 non-null  int64
 11  Journey_Day      10463 non-null  int32
 12  Journey_Month    10463 non-null  int32
 13  Journey_Year     10463 non-null  int32
dtypes: datetime64[ns](1), int32(3), int64(1), object(9)
memory usage: 1.1+ MB

In [23]:
df.drop(columns=['Date_of_Journey'],inplace=True) # Date_of_Journey is not need we already extarcted

In [24]:
df['Dep_Time'].unique()

array(['22:20', '05:50', '09:25', '18:05', '16:50', '09:00', '18:55',
       '08:00', '08:55', '11:25', '09:45', '20:20', '11:40', '21:10',
       '17:15', '16:40', '08:45', '14:00', '20:15', '16:00', '14:10',
       '22:00', '04:00', '21:25', '21:50', '07:00', '07:05', '09:50',
       '14:35', '10:35', '15:05', '14:15', '06:45', '20:55', '11:10',
       '05:45', '19:00', '23:05', '11:00', '09:35', '21:15', '23:55',
       '19:45', '08:50', '15:40', '06:05', '15:00', '13:55', '05:55',
       '13:20', '05:05', '06:25', '17:30', '08:20', '19:55', '06:30',
       '14:05', '02:00', '09:40', '08:25', '20:25', '13:15', '02:15',
       '16:55', '20:45', '05:15', '19:50', '20:00', '06:10', '19:30',
       '04:45', '12:55', '18:15', '17:20', '15:25', '23:00', '12:00',
       '14:45', '11:50', '11:30', '14:40', '19:10', '06:00', '23:30',
       '07:35', '13:05', '12:30', '15:10', '12:50', '18:25', '16:30',
       '00:40', '06:50', '13:00', '19:15', '01:30', '17:00', '10:00',
       '19:35', '15:30', '12:10', '16:10', '20:35', '22:25', '21:05',
       '05:35', '05:10', '06:40', '15:15', '00:30', '08:30', '07:10',
       '05:30', '14:25', '05:25', '10:20', '17:45', '13:10', '22:10',
       '04:55', '17:50', '21:20', '06:20', '15:55', '20:30', '17:25',
       '09:30', '07:30', '02:35', '10:55', '17:10', '09:10', '18:45',
       '15:20', '22:50', '14:55', '14:20', '13:25', '22:15', '11:05',
       '16:15', '20:10', '06:55', '19:05', '07:55', '07:45', '10:10',
       '08:15', '11:35', '21:00', '17:55', '16:45', '18:20', '03:50',
       '08:35', '19:20', '20:05', '17:40', '04:40', '17:35', '09:55',
       '05:00', '18:00', '02:55', '20:40', '22:55', '22:40', '21:30',
       '08:10', '17:05', '07:25', '15:45', '09:15', '15:50', '11:45',
       '22:05', '18:35', '00:25', '19:40', '20:50', '22:45', '10:30',
       '23:25', '11:55', '10:45', '11:15', '12:20', '14:30', '07:15',
       '01:35', '18:40', '09:20', '21:55', '13:50', '01:40', '00:20',
       '04:15', '13:45', '18:30', '06:15', '02:05', '12:15', '13:30',
       '06:35', '10:05', '08:40', '03:05', '21:35', '16:35', '02:30',
       '16:25', '05:40', '15:35', '13:40', '07:20', '04:50', '12:45',
       '10:25', '12:05', '11:20', '21:40', '03:00'], dtype=object)

In [25]:
df['Dep_Hour']=df['Dep_Time'].str.split(':').str[0]
df['Dep_Min']=df['Dep_Time'].str.split(':').str[1]

In [26]:
df['Dep_Hour']=df['Dep_Hour'].astype(int)
df['Dep_Min']=df['Dep_Min'].astype(int)
df.drop(columns=['Dep_Time'],inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10463 non-null  object
 1   Source           10463 non-null  object
 2   Destination      10463 non-null  object
 3   Route            10463 non-null  object
 4   Arrival_Time     10463 non-null  object
 5   Duration         10463 non-null  object
 6   Total_Stops      10463 non-null  object
 7   Additional_Info  10463 non-null  object
 8   Price            10463 non-null  int64
 9   Journey_Day      10463 non-null  int32
 10  Journey_Month    10463 non-null  int32
 11  Journey_Year     10463 non-null  int32
 12  Dep_Hour         10463 non-null  int32
 13  Dep_Min          10463 non-null  int32
dtypes: int32(5), int64(1), object(8)
memory usage: 1021.8+ KB

In [28]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [29]:
df['Arrival_Hour']=df['Arrival_Time'].str.split().str[0].str.split(':').str[0]
df['Arrival_Min']=df['Arrival_Time'].str.split().str[0].str.split(':').str[1]

In [30]:
df['Arrival_Hour']=df['Arrival_Hour'].astype(int)
df['Arrival_Min']=df['Arrival_Min'].astype(int)

In [31]:
df.drop(columns=['Arrival_Time'],inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10463 non-null  object
 1   Source           10463 non-null  object
 2   Destination      10463 non-null  object
 3   Route            10463 non-null  object
 4   Duration         10463 non-null  object
 5   Total_Stops      10463 non-null  object
 6   Additional_Info  10463 non-null  object
 7   Price            10463 non-null  int64
 8   Journey_Day      10463 non-null  int32
 9   Journey_Month    10463 non-null  int32
 10  Journey_Year     10463 non-null  int32
 11  Dep_Hour         10463 non-null  int32
 12  Dep_Min          10463 non-null  int32
 13  Arrival_Hour     10463 non-null  int32
 14  Arrival_Min      10463 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 1021.8+ KB

In [33]:
df['Duration_Hour']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [34]:
df['Duration_min']=df['Duration'].str.split('h').str[1].str.split('m').str[0]

In [35]:
df['Duration_min'].fillna(0,inplace=True)

In [36]:
df['Duration_Hour'].unique() # It contains value 5m (cant directly convert into int as it will give error)

array(['2', '7', '19', '5', '4', '15', '21', '25', '13', '12', '26', '22',
       '23', '20', '10', '6', '11', '8', '16', '3', '27', '1', '14', '9',
       '18', '17', '24', '30', '28', '29', '37', '34', '38', '35', '36',
       '47', '33', '32', '31', '42', '39', '5m', '41', '40'], dtype=object)

In [37]:
df.loc[6474] # Getting 5m(Duration_Hour) column

Airline                        Air India
Source                            Mumbai
Destination                    Hyderabad
Route              BOM ? GOI ? PNQ ? HYD
Duration                              5m
Total_Stops                      2 stops
Additional_Info                  No info
Price                              17327
Journey_Day                            6
Journey_Month                          3
Journey_Year                        2019
Dep_Hour                              16
Dep_Min                               50
Arrival_Hour                          16
Arrival_Min                           55
Duration_Hour                         5m
Duration_min                           0
Name: 6474, dtype: object

In [38]:
df.loc[6474,'Duration_Hour']=0 # Converting it back manullay
df.loc[6474,'Duration_min']=5

In [39]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Journey_Day        0
Journey_Month      0
Journey_Year       0
Dep_Hour           0
Dep_Min            0
Arrival_Hour       0
Arrival_Min        0
Duration_Hour      0
Duration_min       0
dtype: int64

In [40]:
df['Duration_Hour'] = pd.to_numeric(df['Duration_Hour'], errors='coerce')
df['Duration_min'] = pd.to_numeric(df['Duration_min'], errors='coerce')

In [41]:
df['Duration_Hour']=df['Duration_Hour'].astype(float) 
df['Duration_min']=df['Duration_min'].astype(float)

In [42]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 0
Duration              0
Total_Stops           0
Additional_Info       0
Price                 0
Journey_Day           0
Journey_Month         0
Journey_Year          0
Dep_Hour              0
Dep_Min               0
Arrival_Hour          0
Arrival_Min           0
Duration_Hour         0
Duration_min       1005
dtype: int64

In [43]:
df['Duration_Hour'].fillna(0, inplace=True)
df['Duration_min'].fillna(0, inplace=True)

In [44]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Journey_Day        0
Journey_Month      0
Journey_Year       0
Dep_Hour           0
Dep_Min            0
Arrival_Hour       0
Arrival_Min        0
Duration_Hour      0
Duration_min       0
dtype: int64

In [45]:
df.drop(columns=['Duration'],inplace=True) # Droping the Duration it is not required as we extracted Features from it

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10463 non-null  object
 1   Source           10463 non-null  object
 2   Destination      10463 non-null  object
 3   Route            10463 non-null  object
 4   Total_Stops      10463 non-null  object
 5   Additional_Info  10463 non-null  object
 6   Price            10463 non-null  int64
 7   Journey_Day      10463 non-null  int32
 8   Journey_Month    10463 non-null  int32
 9   Journey_Year     10463 non-null  int32
 10  Dep_Hour         10463 non-null  int32
 11  Dep_Min          10463 non-null  int32
 12  Arrival_Hour     10463 non-null  int32
 13  Arrival_Min      10463 non-null  int32
 14  Duration_Hour    10463 non-null  float64
 15  Duration_min     10463 non-null  float64
dtypes: float64(2), int32(7), int64(1), object(6)
memory usage: 1.3+ MB

In [47]:
df.drop(columns=['Additional_Info','Route'],inplace=True) # Route and AdditionalInfo is not required so droping them

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Airline        10463 non-null  object
 1   Source         10463 non-null  object
 2   Destination    10463 non-null  object
 3   Total_Stops    10463 non-null  object
 4   Price          10463 non-null  int64
 5   Journey_Day    10463 non-null  int32
 6   Journey_Month  10463 non-null  int32
 7   Journey_Year   10463 non-null  int32
 8   Dep_Hour       10463 non-null  int32
 9   Dep_Min        10463 non-null  int32
 10  Arrival_Hour   10463 non-null  int32
 11  Arrival_Min    10463 non-null  int32
 12  Duration_Hour  10463 non-null  float64
 13  Duration_min   10463 non-null  float64
dtypes: float64(2), int32(7), int64(1), object(4)
memory usage: 1.2+ MB

In [49]:
df['Total_Stops'].unique() # Getting stop unique values

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [50]:
# Converting stops column to numerical column
df['Total_Stops']=df['Total_Stops'].map({
    'non-stop':0
    , '2 stops':2,
    '1 stop':1, 
    '3 stops':3, 
    '4 stops':4
})

In [51]:
df['Total_Stops']=df['Total_Stops'].astype(int)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Airline        10463 non-null  object
 1   Source         10463 non-null  object
 2   Destination    10463 non-null  object
 3   Total_Stops    10463 non-null  int32
 4   Price          10463 non-null  int64
 5   Journey_Day    10463 non-null  int32
 6   Journey_Month  10463 non-null  int32
 7   Journey_Year   10463 non-null  int32
 8   Dep_Hour       10463 non-null  int32
 9   Dep_Min        10463 non-null  int32
 10  Arrival_Hour   10463 non-null  int32
 11  Arrival_Min    10463 non-null  int32
 12  Duration_Hour  10463 non-null  float64
 13  Duration_min   10463 non-null  float64
dtypes: float64(2), int32(8), int64(1), object(3)
memory usage: 1.1+ MB

In [53]:
# Encoding

In [54]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
encoder=OneHotEncoder(sparse_output=False, drop='first')

In [56]:
categorical_cols = ['Airline', 'Source', 'Destination']

In [57]:
encoded_cols = pd.DataFrame(
    encoder.fit_transform(df[categorical_cols]),
    columns=encoder.get_feature_names_out(categorical_cols)  # Get meaningful column names
)

In [58]:
encoded_cols

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10459,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10460,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10462,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [59]:
# Reset the index to match df
encoded_cols.index = df.index  

# Drop original categorical columns
df.drop(columns=categorical_cols, inplace=True)

# Concatenate the encoded features with the original dataframe
df = pd.concat([df, encoded_cols], axis=1)

In [117]:
df # All coulmns are in numerical

,Total_Stops,Price,Journey_Day,Journey_Month,Journey_Year,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min,Duration_Hour,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,2019,22,20,1,10,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,7662,1,5,2019,5,50,13,15,7.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,13882,9,6,2019,9,25,4,25,19.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1,6218,12,5,2019,18,5,23,30,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,13302,1,3,2019,16,50,21,35,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,4107,9,4,2019,19,55,22,25,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10679,0,4145,27,4,2019,20,45,23,20,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,0,7229,27,4,2019,8,20,11,20,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,0,12648,1,3,2019,11,30,14,10,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,2,11753,9,5,2019,10,55,19,15,8.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [61]:
df.info() # AtLast all columns are in numerical columns ,which is processed

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 31 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10463 non-null  int32
 1   Price                                      10463 non-null  int64
 2   Journey_Day                                10463 non-null  int32
 3   Journey_Month                              10463 non-null  int32
 4   Journey_Year                               10463 non-null  int32
 5   Dep_Hour                                   10463 non-null  int32
 6   Dep_Min                                    10463 non-null  int32
 7   Arrival_Hour                               10463 non-null  int32
 8   Arrival_Min                                10463 non-null  int32
 9   Duration_Hour                              10463 non-null  float64
 10  Duration_min                               10463 non-null  float64
 11  Airline_Air India                          10463 non-null  float64
 12  Airline_GoAir                              10463 non-null  float64
 13  Airline_IndiGo                             10463 non-null  float64
 14  Airline_Jet Airways                        10463 non-null  float64
 15  Airline_Jet Airways Business               10463 non-null  float64
 16  Airline_Multiple carriers                  10463 non-null  float64
 17  Airline_Multiple carriers Premium economy  10463 non-null  float64
 18  Airline_SpiceJet                           10463 non-null  float64
 19  Airline_Trujet                             10463 non-null  float64
 20  Airline_Vistara                            10463 non-null  float64
 21  Airline_Vistara Premium economy            10463 non-null  float64
 22  Source_Chennai                             10463 non-null  float64
 23  Source_Delhi                               10463 non-null  float64
 24  Source_Kolkata                             10463 non-null  float64
 25  Source_Mumbai                              10463 non-null  float64
 26  Destination_Cochin                         10463 non-null  float64
 27  Destination_Delhi                          10463 non-null  float64
 28  Destination_Hyderabad                      10463 non-null  float64
 29  Destination_Kolkata                        10463 non-null  float64
 30  Destination_New Delhi                      10463 non-null  float64
dtypes: float64(22), int32(8), int64(1)
memory usage: 2.5 MB